<!-- inherit from base.html-->
{% extends "sportsShare/base_template.html" %}
{% load static %}
<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Your Statsheets</h1>
<br/>
{{listSheets}}
    {% for Statsheets in listSheets %}
        Title: {{Statsheets.title}}
            <p><strong>Description: {{Statsheets.description}}

            </strong></p>
        </li>
    {% endfor %}
<a href="{statsheet.get_absolute_url}}" class="btn btn-primary" role="button">View</a>
<a href="{statsheet.get_absolute_url}}" class="btn btn-primary" role="button">Update</a>
<a href="{statsheet.get_absolute_url}}" class="btn btn-primary" role="button">Delete</a>
<br/>
<br/>
<a href="{statsheet.get_absolute_url}}" class="btn btn-primary" role="button">Create New Statsheet</a>

{% endblock %}
